button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 255, 106, 0.4);
  outline: none;
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 20px;
}

button:hover {
  background-color: red;
}

