nav{
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  border: solid black 2px;
  border-radius: 7px;
  padding: 15px;
}

img {
  width:40px;
  height: 40px;
  border: solid black 2px;
}

nav #desktop {
  display: none;  
}

nav #mobile{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  }

@media only screen and (min-width: 600px) {
    nav {
      width: 100%;
      margin-top: 2px;
    }
    nav #desktop {
      display: flex;
      gap: 10px;
      padding: 15px;
    }
    nav #mobile {
      display: none;
    }
}